<table class="table table-bordered table-condensed">
  <thead>
    <tr>	
      	<th><p><%= sortable "cal_date", "Date" %></p></th>
	    <% if @is_user_page.to_s == "false" %>
			<th><p><%= sortable "name", "User" %></p></th>
      	<% else %>
			<th><p><%= sortable "project_id", "Project" %></p></th>
		<% end %>
      	<th><p><%= sortable "notes", "Description" %></p></th>
	    <th><p><%= sortable "hours" %></p></th>
	    <th></th>
    </tr>
  </thead>
  <tbody>
	<% @entries.each do |entry| %>
    <tr>
      	<td> <%= best_in_place entry, :cal_date, :type => :date, :display_as => :mdmy_format, :inner_class => "span2 mdmy_format" %> </td>

		<% if @is_user_page.to_s == "false" %>
      		<td> <%= best_in_place entry, :user_id, :type => :select, :inner_class => "span2",
									  :collection => @editableemployees %> 
			</td>
		<% else %>
	    	<td> <%= best_in_place entry, :project_id, :type => :select, :inner_class => "span2", 
									  :collection => @editableprojects %>
			</td>
		<% end %>
	    <td> <%= best_in_place entry, :notes, :type => :textarea, :nil => "empty" %> 
		</td>
		
		<td> <span class="bip-hours-wrapper"><%= best_in_place entry, :hours, :inner_class => "span1",
				  	    :path => entry_path(:id => entry.id, :shouldupdate => 1,
							 :myfrom => @myfrom, :myto => @myto, 
                   			 :filter_projects => @filter_projects,
                   			 :filter_employees => @filter_employees),
	 						 :data => {:entry_hours => entry.user_id} %></span> 
		</td>
        
		<td> <%= link_to(entry, confirm: 'Are you sure?', method: :delete, 
				  :class => "tips", :title => "Delete Entry") do %><i class="icon-remove"></i><% end %>
		</td>

    </tr>

	<% end %>
	
	<!-- TOTAL HOURS ROW -->
	<tr>	
      	<th colspan="3" style="text-align: left"><p>Total Hours</p></th>
	      <th colspan="2" style="text-align: left"><p id="table_row_hours_sum"><%= @hrs_sum %></p></th>
    </tr>
  </tbody>
</table>
    