<div id="EntriesCalendar">
	
  <!-- DISPLAY MONTH AND LINKS TO NEXT/PREV MONTH -->
  <h2 id="month">
    <%= link_to "<", entrycalendar_path(date: @date.prev_month, :filter_projects => @filter_projects,
											:filter_employees => @filter_employees ), :remote => true %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", entrycalendar_path(date: @date.next_month, :filter_projects => @filter_projects,
											:filter_employees => @filter_employees), :remote => true %>
  </h2>

  <!-- DISPLAY CALENDAR -->
  <%= calendar @date do |date| %>
    <%= date.day %>
    	<% if @cal_entry_array[date.day-1] && date.month == @date.month %>
	      <ul>
			<% if @cal_entry_array[date.day-1][1] != 0 %>
	          <li class="hoursfont"><%= @cal_entry_array[date.day-1][1] %></li>
			<% end %>
	      </ul>
	    <% end %>
  <% end %>

</div>
