
<div class="newentry">
  
  <%= form_for(@entry, :class => "form-inline clearbottommargin") do |f| %>

  <div class="row">
  
    <div class="span2 pullright">
      <%= f.select :user_id, @employees, {:selected => @user.id}, {:class => "span2 clearbottommargin"} %> 
      <p class="clearbottommargin"><%= link_to "+ new employee", new_user_path, :remote => true, :class => "popup_dialog smallfont" %></p>
    </div>
  
    <div class="span2 pullright">
      <%= f.select :project_id, @projects, {}, {:class => "span2 clearbottommargin"} %>
      <p class="clearbottommargin"><%= link_to "+ new project", new_project_path, :remote => true, :class => "popup_dialog smallfont" %></p> 
    </div>
  
    <div class="spanonefive">
      <%= f.text_field :cal_date, { :class => "datedropdown", :id =>"newentry_caldate", :value => @today.to_s(:dmdy) } %>
    </div>
  
    <div class="span1">
      <%= f.text_field :hours, { :class => "span1", :placeholder => "hours" } %>
    </div>

    <div class="span4">
      <%= f.text_area :notes, { :class => "span4 clearbottommargin", :placeholder => "note", :rows => 1 } %>
    </div>
    <div class="span1">
     <%= f.submit "Add Entry", :class => "btn btn-warning clearbottommargin" %>
    </div>  
  </div> <!-- row -->
  
 <% end %>
  
</div>

<!-- <div class="newentry">
  
  <%= simple_form_for(@entry, :class => "form-inline") do |f| %>

  <%= f.association :user, 
            :collection => @employees, 
            :selected => @user.id, 
            :label => false, 
            :input_html => { :class => "span2" },
            :wrapper_html => { :class => 'span2 projectinput' } %>
  
  <%= f.association :project, 
            :collection => @projects,
            :selected => @projects.first,
            :label => false, 
            :input_html => { :class => "span2" },
            :wrapper_html => { :class => 'span2' }%>  
  
  <%= f.input :cal_date, 
        :as => :string, 
        :label => false,  
          :input_html => { :class => "datedropdown span2", 
                 :id =>"newentry_caldate", 
                   :value => @today.to_s(:dmdy) },
        :wrapper_html => { :class => 'spanonefive' } %>

  <%= f.input :hours, 
        :label => false, 
        :input_html => { :class => "span1", :placeholder => "hours" },
        :wrapper_html => { :class => 'span1' } %>

   <%= f.input :notes, 
         :label => false, 
         :input_html => { :class => "span6", :placeholder => "note", :rows => 2 },
         :wrapper_html => { :class => 'span6 no_margin' } %>
  
   <%= f.submit "Add",
          :class => 'btn btn-warning add-entry-btn' %>        

  <% end %>

</div> -->