<%= form_for @user do |f| %>

<%= render 'shared/error_messages', :object => f.object %>

  <% if @type == "edit" %>
  	<div class="field">
	    <%= f.label :name %>
	    <%= f.text_field :name %>
	  </div>
  <% end %>	
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <%= f.hidden_field :company_id, :value => current_user.company.id %>
	
  <div class="actions"><%= f.submit "Submit" %></div>
<% end %>


