  
  <div class="row"> <!-- New Entry -->  
	  <div class="span12 new_entry_form_box"><%= render :partial => "entries/form" %></div>
  </div>
  
  <div class="row"> <!-- Data Table, Feedback, Filter Data -->
    
    <%= form_tag root_url, :method => 'get' do %> <!-- Creates the form filter -->        
    
    
    <div class="span2 projectlist">
      <div class="row" id="listFilterProjects"><!-- List Projects -->
			<div class="span2">
            	<p>From: <%= text_field(:from, '', :value => @myfrom.strftime('%h %-d %Y'), 
							:class => "spanonefive", :id => "startdate") %> </p>
				
  			    <p>To: <br /><%= text_field(:to, '', :value => @myto.strftime('%h %-d %Y'), 
							:class => "spanonefive", :id => "enddate") %> </p>
        	</div>

			<div class="span2">
				<h4>My Projects</h4>
			</div>
	      	<%= render 'projects/filterlist' %>
      </div>    
    <div class="row"><div class="span2"><%= submit_tag "Filter Data", :name => nil , :class => "btn span2 "%></div></div>  
    </div> <!-- Project List -->


    <div class="span10 datatable clearleftmargin">

      <div class="viewselect">
        <div data-toggle="buttons-radio">

          <%= link_to entrytable_path(:sort => "cal_date", :direction => "desc", :myfrom => @myfrom, :myto => @myto, 
        			:filter_projects => @filter_projects, :filter_employees => @filter_employees, :is_user_page => true), 
        			:remote => true, :id => "EntriesTable_btn", :class => "buttonleft btn btn-info" do %>
        	    <i class="icon-th icon-white"></i> Entries	  
        	<% end %>
          <br />
        	<%= link_to entrycalendar_path(:sort => "cal_date", :direction => "desc", :myfrom => @myfrom, :myto => @myto, 
					    :filter_projects => @filter_projects, :filter_employees => @filter_employees), 
        		  :remote => true, :id => "EntriesCalendar_btn", :class => "buttonleft btn btn-info" do %>
              <i class="icon-calendar icon-white"></i> Calendar
          <% end %>        		  
          <br />
  			  <%= link_to entrytrends_path(:sort => "cal_date", :direction => "desc", :myfrom => @myfrom, :myto => @myto, 
					    :filter_projects => @filter_projects, :filter_employees => @filter_employees, :is_user_page => true), 
  					  :remote => true, :id => "EntriesTrends_btn", :class => "buttonleft btn btn-info" do %>
              <i class="icon-signal icon-white"></i> Trends
          <% end %>
        </div>
      </div> <!-- ViewSelect -->      
  
  	  <div class="viewdetailsuser"> <!-- View Details -->
        <div class="selectdetails">
      	  
       	  	<div id="entrytable_sum" style="margin-bottom: 20px">
            	<p class="totalrow"><%= @hrs_sum %> hours</p>
          	</div>
          
          <div id="entrytable">
      		  <%= render :partial => "entries/entries_table" %>
      		</div>
      		<div id="entrycalendar_sum" class="hidden">
      			<p class="totalrow"><%= @cal_month_sum %> hours</p>
      		</div>
      		<div id="entrycalendar" class="hidden">
      			<%= render :partial => "entries/entries_calendar" %>
      		</div>
      		<div id="entrytrends" class="hidden">
      			<%= render :partial => "entries/entries_trends" %>
      		</div>
      	</div><!-- selectdetails -->	    
  	  </div> <!-- View Details -->
    
    </div>
    
    <% end %>      
      
          
      <!-- <div class="row"><div class="span3 borderleft utilization">
        <fieldset>
          <legend><%= @user.name %> - Utilization</legend>
          <div class="row statusbar">
            <div class="spanhalf"><p>Week</p></div>
            <div class="span2 progress progress-striped progress-warning tips" 
                  title="<%= @my_week_sum %>/<%= @workhours_week %>"><div class="bar" 
                  style="width: <%= @utilization_week %>;"><p><%= @utilization_week %></p></div></div>
          </div>
          <div class="row statusbar">
            <div class="spanhalf"><p>Month</p></div>
            <div class="span2 progress progress-striped progress-warning tips" 
                  title="<%= @my_month_sum %>/<%= @workhours_month %>"><div class="bar" 
                  style="width: <%= @utilization_month %>;"><p><%= @utilization_month %></p></div></div>
          </div>
          <div class="row statusbar">
            <div class="spanhalf"><p>Year</p></div>
            <div class="span2 progress progress-striped progress-warning tips" 
                  title="<%= @my_year_sum %>/<%= @workhours_year %>"><div class="bar" 
                  style="width: <%= @utilization_year %>;"><p><%= @utilization_year %></p></div></div>
          </div>
        </fieldset>
      </div></div> -->
      

    </div>
	
	</div> <!-- Filter Data, Details --> 

