<div id="homepage">
	<h1>Welcome to TimeFeather</h1>

	<% if current_user %>
	   <h2> Company: <%= my_company.name %> </h2>
		Logged in as <%= current_user.email %> <%= link_to "Log Out", logout_path %>
		<br /><br /><br />
		<p><%= link_to "View Company Overview", new_entry_path %></p>
		
	<% else %>
	    <h3>
			<%= link_to "Create new company", new_company_path %>
		</h3>
		<h3>
			<%= link_to "Log In", login_path %>
		</h3>
	<% end %>
	
</div>