<h3>Company: <%= my_company.name %></h3>
<h3>User: <%= current_user.email %></h3>

<%= simple_form_for @project do |f| %>

    <%= f.input :name %>
    <%= f.input :client, :input_html => { :rows => 2 } %>
	<%= f.input :budgeted_hrs, :label => 'Budgeted Hours' %>
    <%= f.hidden_field :company_id, :value => my_company.id %>
	<%= f.button :submit %>

<% end %>