

	<% if @employees.empty? %>
		<div class="alert">
			<a class="close" data-dismiss="alert">x</a>
			No one is staffed to this project!  Staff someone below.
		</div>
	<% end %>
  
  <div class="row"> <!-- New Entry -->  
	  <div class="span12 new_entry_form_box"><%= render :partial => "entries/form" %></div>
  </div>
	
  <div class="row"> <!-- Data Table, Feedback, Filter Data -->

    <%= form_tag project_path(@project.id), :method => 'get' do %> <!-- Creates the form filter -->        

    <div class="span3 projectlist">
      <div class="row well"> <!-- Feedback -->
    		
    		<h4 class="smallbottommargin"><%= @project.name %></h4>
    		<div>
    			<% if @project_budgeted_hours != 0 %>
    			 <div class="row statusbar">
             <div class="spanhalf"><p>Progress: </p></div>
             <div class="span2 progress progress-striped progress-warning tips" 
                title="<%= @project_hours_sum.to_s %>/<%= @project_budgeted_hours %>">
                <div class="bar" style="width: <%= @hours_percentage %>;">
                <p><%= @hours_percentage %></p></div></div>
           </div>
    			<% end %>
          <i><%= @project.client %></i>
    			
          <div class="row"><%= link_to "edit project", edit_project_path(@project), :class => "btn btn-mini offsetonefive" %></div>


<!--      <p>Total Project Revenue: <%= number_to_currency(@project_total_revenue, :unit => "$") %> </p>
          <p>Last Month Invoice Amount: <%= number_to_currency(@prev_month_sum, :unit => "$") %> </p>
          <p>Project Budgeted Hours: <%= @project_budgeted_hours %> </p>
          <p>Project Total Hours: <%= @project_hours_sum.to_s %> </p>
          <p>Budgeted Hours: <%= @project.budgeted_hrs %></p>
          
 -->

    		</div>        
      
      </div> <!-- Feedback -->
      	
      	<div class="row"><!-- List Projects -->
			<div class="span2">
            	<p>From: <%= text_field(:from, '', :value => @myfrom.strftime('%h %-d %Y'), 
							:class => "spanonefive", :id => "startdate") %> </p>
				
  			    <p>To: <br /><%= text_field(:to, '', :value => @myto.strftime('%h %-d %Y'), 
							:class => "spanonefive", :id => "enddate") %> </p>
        	</div>
			<div class="span2"><h4>Project Employees</h4></div>
	      	<%= render 'users/filterlist' %>
      	</div>    
    	<div class="row">
			<div class="spanonefive" style="text-align: center">
				<%= submit_tag "Filter Data", :name => nil , :class => "btn spanonefive"%>
			</div>
		</div>  
    </div> <!-- Project List -->


    <div class="span9 datatable clearleftmargin">

      <div class="viewselect">
        <div data-toggle="buttons-radio">
          <%= link_to entrytable_path(:sort => "cal_date", :direction => "desc", :myfrom => @myfrom, :myto => @myto, 
        			:filter_projects => @filter_projects, :filter_employees => @filter_employees, :is_user_page => true), 
        			:remote => true, :id => "EntriesTable_btn", :class => "buttonleft btn btn-info" do %>
        	    <i class="icon-th icon-white"></i> Entries	  
        	<% end %>
          <br />
        	<%= link_to entrycalendar_path(:sort => "cal_date", :direction => "desc", :myfrom => @myfrom, :myto => @myto, 
					    :filter_projects => @filter_projects, :filter_employees => @filter_employees), 
        		  :remote => true, :id => "EntriesCalendar_btn", :class => "buttonleft btn btn-info" do %>
              <i class="icon-calendar icon-white"></i> Calendar
          <% end %>        		  
          <br />
  			  <%= link_to entrytrends_path(:sort => "cal_date", :direction => "desc", :myfrom => @myfrom, :myto => @myto, 
					    :filter_projects => @filter_projects, :filter_employees => @filter_employees, :is_user_page => false), 
  					  :remote => true, :id => "EntriesTrends_btn", :class => "buttonleft btn btn-info" do %>
              <i class="icon-signal icon-white"></i> Trends
          <% end %>
          <br />
  			  <%= link_to projectstaff_path(:sort => "cal_date", :direction => "desc", :myfrom => @myfrom, :myto => @myto, 
					    :filter_projects => @filter_projects, :filter_employees => @filter_employees, :project_id => @project), 
  					  :remote => true, :id => "ProjectStaff_btn", :class => "buttonleft btn btn-info" do %>
              <i class="icon-user icon-white"></i> Staff
          <% end %>
        </div>
      </div> <!-- ViewSelect -->      

  	  <div class="viewdetailsproject"> <!-- View Details -->
        <div class="selectdetails">

      	  	<div id="entrytable_sum" style="margin-bottom: 20px">
            	<p class="totalrow"><%= @hrs_sum %> hours</p>
          	</div>

          	<div id="entrytable">
      		  <%= render :partial => "entries/entries_table" %>
      		</div>
      		<div id="entrycalendar_sum" class="hidden">
      			<p class="totalrow"><%= @cal_month_sum %> hours</p>
      		</div>
      		<div id="entrycalendar" class="hidden">
      			<%= render :partial => "entries/entries_calendar" %>
      		</div>
      		<div id="entrytrends" class="hidden">
      			<%= render :partial => "entries/entries_trends" %>
      		</div>
			
      		<div id="projectstaff" class="hidden">
      			<%= render :partial => "projects/project_staff" %>
      		</div>
      	</div><!-- selectdetails -->	    
  	  </div> <!-- View Details -->
	
		<!-- PROJECT SUMMARY DETAILS -->

		
		
    </div>

    <% end %>      





      <!-- <h1>Last Month Invoice Amount = <%= @prev_month_sum %></h1>
      <% @prev_month_entries.each do |e| %>
        <p><%= e.user.name %> - <%= e.hours_sum %></p>
      <% end %> -->

	</div> <!-- Filter Data, Details --> 




    

	
