<div class="container mainpage">
 
     <h2>Company: <%= @company.name %></h2>

     <br />
            

        <div class="row themecolor">
          <div id="listFilterProjects" class="span2"><!-- List Projects -->
                      <h3>All Projects</h3>
                     <% @projects.each do |p| %>
                           <p>
                              <%= link_to p[0], project_path(p[3]) %>  (<%= p[2] %>)
                             </p>
                      <% end %>
          </div> <!-- List Projects -->
          <div id="listFilterEmployees" class="span2"><!-- List Employees -->  
                      <h3>All Employees</h3>
                     <% @employees.each do |u| %>
                           <p>
                              <%= link_to u[0], user_path(u[3]) %>  (<%= u[2] %>)
                             </p>
                      <% end %>
          </div><!-- List Employees -->     
      </div> <!-- ProjectList Row -->

     

</div><!-- container, mainpage-->
