<div class="container mainpage"><div class="row">
	
 
  <div class="leftside span8">
    

	<%= render :partial => "entries/form" %>
    

    <div class="viewselect">
      <div data-toggle="buttons-radio">
	
		<%= link_to "Entries", entrytable_path(:sort => "cal_date", :direction => "desc",
											   :myfrom => @myfrom, :myto => @myto, 
											   :filter_projects => @filter_projects,
											   :filter_employees => @filter_employees), 
					:remote => true, :id => "EntriesTable_btn", :class => "btn btn-info" %>

		<%= link_to "Calendar", entrycalendar_path(:sort => "cal_date", :direction => "desc",
											   :myfrom => @myfrom, :myto => @myto, 
											   :filter_projects => @filter_projects,
											   :filter_employees => @filter_employees), 
					:remote => true, :id => "EntriesCalendar_btn", :class => "offsethalf btn btn-info" %>
					
        <button id="EntriesTrends_btn" class="offsethalf btn btn-info">Trends</button>

      </div>
    </div><!-- ViewSelect -->
    
	<div class="details">
		<div id="entrytable_sum">
			<p class="totalrow"><%= @hrs_sum %> hours</p>
		</div>
		<div id="entrytable">
			<%= render :partial => "entries/entries_table" %>
		</div>
		<div id="entrycalendar_sum">
			<p class="totalrow"><%= @cal_month_sum %> hours</p>
		</div>
		<div id="entrycalendar">
			<%= render :partial => "entries/entries_calendar" %>
		</div>
	</div><!-- details -->
  
  </div><!-- LeftSide -->



<!-- START RIGHT SIDE -->
  <div class="RightSide span4">

    <div class="feedback">

      <fieldset>
        <legend><username><%= @user.name %></legend>
        <div class="row">
          <div class="span1"><p>Week (<%= @my_week_sum %>) </p></div>
          <div class="span2 progress progress-striped progress-warning"><div class="bar" 
			   style="width: <%= @utilization_week %>;"></div></div>
          <div class="displaypercent"><p><%= @utilization_week %> - <%= @my_week_sum %>/<%= @workhours_week %></p></div>
        </div>
        <div class="row">
          <div class="span1"><p>Month (<%= @my_month_sum %>)</p></div>
          <div class="span2 progress progress-striped progress-warning"><div class="bar" 
				style="width: <%= @utilization_month %>;"></div></div>
          <div class="displaypercent"><p><%= @utilization_month %> - <%= @my_month_sum %>/<%= @workhours_month %></p></div>
        </div>
        <div class="row">
          <div class="span1"><p>Year (<%= @my_year_sum %>)</p></div>
          <div class="span2 progress progress-striped progress-warning"><div class="bar" 
				style="width: <%= @utilization_year %>;"></div></div>
          <div class="displaypercent"><p><%= @utilization_year %> - <%= @my_year_sum %>/<%= @workhours_year %></p></div>
        </div>
      </fieldset>
    </div><!-- Feedback --> 


	<%= form_tag root_url, :method => 'get' do %>
    <div class="filterdata">
      <div class="row dateselect">
        <form class="form-inline">
          <div class="span1">
				<label for="startdate">From</label>
				<%= text_field(:from, '', :value => @myfrom.strftime('%h %-d %Y'), 
					:class => "span1", :id => "startdate") %>
		  </div>
          <div class="span1">
				<label for="enddate">To</label>
		  		<%= text_field(:to, '', :value => @myto.strftime('%h %-d %Y'), 
					:class => "span1", :id => "enddate") %>	
		  </div>
		  <div class="span1">
				<%= submit_tag "Select", :name => nil %>
		 </div>
         </form>
      </div>



      <div class="projectlist row">
	
<!-- LIST PROJECTS -->
        <div class="span2">
			<p><%= link_to "+ add project", new_project_path, :remote => true, :class => "popup_dialog" %></p>

			<% @projects.each do |p| %>	
	          <label>
				<%= check_box(:filter, :projects, {:multiple => true, :checked => @filter_projects.include?(p[3].to_s)}, 
								p[3], nil) %>
				<%= p[0] %> (<%= p[2] %>)
			  </label>
  			<% end %>
                  
        </div>

<!-- LIST EMPLOYEES -->
        <div class="span2">
			<p><%= link_to "+ add employee", new_user_path, :remote => true, :class => "popup_dialog" %></p>
			
			<% @employees.each do |u| %>
          	  <label>
				<%= check_box(:filter, :employees, {:multiple => true, :checked => @filter_employees.include?(u[3].to_s)}, 
								u[3], nil) %>
				<%= u[0] %>  (<%= u[2] %>)
			  </label>
			<% end %>
                             
        </div>
      </div>
	  
	<% end %>

    </div><!-- FilterData -->

  </div><!-- RightSide -->



</div></div><!--/.container-fluid, row-->