<!DOCTYPE html>
<html>
<head>
  <title>Timefeather</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	
	<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
	    <div class="container">
	      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	        <!-- <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span> -->
	      </a>
		  <%= link_to "TimeFeather", root_url, :class => "brand topleftimage" %>
	      <div class="nav-collapse">
			    <ul class="nav pull-right">
	
      			<% if signed_in? %> <!-- USER IS SIGNED IN -->
	        
            <li class="dropdown">
      		    <a href="#Settings" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %> <b class="caret"></b></a>
        		  <ul class="dropdown-menu">
          			<li><%= link_to company_path(my_company.id) do %><i class="icon-home"></i> My Company<% end %></li>
                <!-- <li><%= link_to root_url do %><i class="icon-folder-open"></i> My Projects<% end %></li> --> 
          			<li><%= link_to root_url do %><i class="icon-pencil"></i> My Entries<% end %></li>
          			<li><%= link_to account_path do %><i class="icon-wrench"></i> Settings <% end %></li>	
          			<li><%= link_to logout_path do %><i class="icon-off"></i> Log Out <% end %></li>
      	      </ul>
      		  </li> <!-- dropdown -->

      			<% else %> <!-- USER SIGNED OUT -->
	
      				<li class="dropdown">
      					<%= link_to "Login", login_path, :class => "dropdown-toggle" %>
      		    </li> <!-- dropdown -->
	
      			<% end %>
		
				  </ul>
			  </div><!--/.nav-collapse -->
	    </div>
	  </div>
	</div>


	<%= render 'shared/flash', :flash => flash %>


<%= yield %>



<footer>
  <br />
  <div class="container">
   <p>2012 Experimentable</p>
  </div>
</footer>

<!-- javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<%= javascript_include_tag "application" %>
<!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
	  // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});


    </script>
 

</body>
</html>
